[Unit]
Description=Activate graphical session target for obsidian-blue Hyprland
After=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemctl --user start graphical-session-pre.target
ExecStart=systemctl --user set-environment XDG_CURRENT_DESKTOP=Hyprland
ExecStart=systemctl --user start graphical-session.target

[Install]
WantedBy=default.target
